[Unit]
Description=Main Scraping Service
After=network.target
Wants=network-online.target

[Service]
Type=simple
User=root  
Group=root 
WorkingDirectory=/home/YahooToAmazon
ExecStart=/bin/bash -c 'cd /home/YahooToAmazon && source .venv/bin/activate && python3 main.py'
Environment="PATH=/home/YahooToAmazon/.venv/bin:$PATH"
Environment="VIRTUAL_ENV=/home/YahooToAmazon/.venv"
Restart=always
RestartSec=10
TimeoutStartSec=60
StandardOutput=append:/var/log/scraper.log
StandardError=append:/var/log/scraper.error.log

[Install]
WantedBy=multi-user.target
