[Unit]
Description=Main Streamlit Service
After=network.target
Wants=network-online.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/home/YahooToAmazon
ExecStart=/home/YahooToAmazon/.venv/bin/streamlit run /home/YahooToAmazon/app.py
Environment="PATH=/home/YahooToAmazon/.venv/bin:$PATH"
Environment="VIRTUAL_ENV=/home/YahooToAmazon/.venv"
Restart=always
RestartSec=10
StandardOutput=append:/var/log/scraper.log
StandardError=append:/var/log/scraper.error.log

[Install]
WantedBy=multi-user.target
